*, body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html, asteroids {
  width: 100%;
  height: 100%;
}
asteroids {
  position: relative;
}
asteroids .asteroids-background {
  z-index: 0;
}
asteroids .asteroids-objects {
  z-index: 11;
}
asteroids .asteroids-background, asteroids .asteroids-objects {
  position: absolute;
  left: 0;
  right: 0;
}
